# configs/train_cifar10_flow_matching.yaml
# @package _global_
defaults:
  - model: sprint
  - diffuser: rectified_flow
  - trainer: default
  - dataset: imagenet_repa
  - dataloader: default
  - optimizer: adamw
  - vision_tower: flux2
  - embedder: precomputed
  - _self_

# Override specific settings
trainer:
  project_name: txt_to_img_imagenet_multiar_repa_flux2_sprint
  n_epoch: 50
  precision_type: "bf16"
  p_classifier_free_guidance: 0.1
  gradient_accumulation_step: 8
  val_step_shift: 6.93
  compile: true
  ema_update_after_step: 0
  ema_update_every: 1
  ema_rate: 0.9999

model:
  input_channels: 128
  output_channels: 128
  input_dim: 640
  hidden_dim: 640
  context_dim: 640
  num_heads: 16
  mlp_ratio: 3
  patch_size: 1
  encoder_depth: 3
  deep_layers_depth: 12
  decoder_depth: 3
  classifier_free: true
  rope_base: 1000
  rope_axes_dim: [12, 14, 14]
  n_classes: null
  simple_dit: false

diffuser:
  extra_args:
    logits_normal: true
    shift: 4.63

dataloader:
  batch_size: 32

# Hydra configuration
hydra:
  run:
    dir: outputs/${now:%Y-%m-%d}/${now:%H-%M-%S}
  sweep:
    dir: multirun/${now:%Y-%m-%d}/${now:%H-%M-%S}
    subdir: ${hydra.job.num}

perceiver_resampler:
  use_resampler: false
