name: CI
on:
  push:
    branches: ["**"]
  pull_request_target:
    types: [labeled]

jobs:
  lint_and_typecheck:
    if: ${{ github.event_name == 'push' || github.event.label.name == 'run-ci' }}
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: check changes
        uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            sources:
              - src/**
              - tests/**
              - scripts/**
              - .github/workflows/ci.yml

      - name: Install uv
        if: steps.changes.outputs.sources == 'true'
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
          cache-prefix: diffulab-uv-cache

      - name: "Set up Python"
        if: steps.changes.outputs.sources == 'true'
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"

      - name: Install the project
        if: steps.changes.outputs.sources == 'true'
        run: uv sync --all-extras

      - name: fmt
        if: steps.changes.outputs.sources == 'true'
        run: uv run ruff format --check

      - name: lint
        if: steps.changes.outputs.sources == 'true'
        run: uv run ruff check

      - name: typecheck
        if: steps.changes.outputs.sources == 'true'
        run: uv run basedpyright
